<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>stop_id</key>
		<string>120635</string>
		<key>stop_lat</key>
		<string>65.038972</string>
		<key>stop_lon</key>
		<string>25.49653</string>
		<key>stop_name</key>
		<string>Hiidentie</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120623</string>
		<key>stop_lat</key>
		<string>65.041794</string>
		<key>stop_lon</key>
		<string>25.49875</string>
		<key>stop_name</key>
		<string>Järvenkorventie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120610</string>
		<key>stop_lat</key>
		<string>65.04390100000002</string>
		<key>stop_lon</key>
		<string>25.489797</string>
		<key>stop_name</key>
		<string>Järvikioski P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120611</string>
		<key>stop_lat</key>
		<string>65.044678</string>
		<key>stop_lon</key>
		<string>25.485824</string>
		<key>stop_name</key>
		<string>Kivennuoli E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120626</string>
		<key>stop_lat</key>
		<string>65.043229</string>
		<key>stop_lon</key>
		<string>25.479259</string>
		<key>stop_name</key>
		<string>Menninkäisentie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120627</string>
		<key>stop_lat</key>
		<string>65.042289</string>
		<key>stop_lon</key>
		<string>25.475915</string>
		<key>stop_name</key>
		<string>Isko E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>189656</string>
		<key>stop_lat</key>
		<string>65.03526100000002</string>
		<key>stop_lon</key>
		<string>25.467633</string>
		<key>stop_name</key>
		<string>Kemintie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120713</string>
		<key>stop_lat</key>
		<string>65.024726</string>
		<key>stop_lon</key>
		<string>25.469128</string>
		<key>stop_name</key>
		<string>Merikoskenkatu E2</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120736</string>
		<key>stop_lat</key>
		<string>65.021996</string>
		<key>stop_lon</key>
		<string>25.467969</string>
		<key>stop_name</key>
		<string>Toivoniemi E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120754</string>
		<key>stop_lat</key>
		<string>65.019661</string>
		<key>stop_lon</key>
		<string>25.4677</string>
		<key>stop_name</key>
		<string>Raatti E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120777</string>
		<key>stop_lat</key>
		<string>65.01328336243668</string>
		<key>stop_lon</key>
		<string>25.46963132336373</string>
		<key>stop_name</key>
		<string>Toripakka E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120798</string>
		<key>stop_lat</key>
		<string>65.01008392505072</string>
		<key>stop_lon</key>
		<string>25.47230820786727</string>
		<key>stop_name</key>
		<string>Hellaakoski</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120812</string>
		<key>stop_lat</key>
		<string>65.008676</string>
		<key>stop_lon</key>
		<string>25.476983</string>
		<key>stop_name</key>
		<string>Rautasaari E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120809</string>
		<key>stop_lat</key>
		<string>65.008839</string>
		<key>stop_lon</key>
		<string>25.484227</string>
		<key>stop_name</key>
		<string>Linja-autoasema P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120787</string>
		<key>stop_lat</key>
		<string>65.011776</string>
		<key>stop_lon</key>
		<string>25.489873</string>
		<key>stop_name</key>
		<string>Raksila E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120784</string>
		<key>stop_lat</key>
		<string>65.011392</string>
		<key>stop_lon</key>
		<string>25.498888</string>
		<key>stop_name</key>
		<string>Välkkylä P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120783</string>
		<key>stop_lat</key>
		<string>65.011652</string>
		<key>stop_lon</key>
		<string>25.514167</string>
		<key>stop_name</key>
		<string>Kontinkangas E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120795</string>
		<key>stop_lat</key>
		<string>65.0108</string>
		<key>stop_lon</key>
		<string>25.518753</string>
		<key>stop_name</key>
		<string>OYS E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120794</string>
		<key>stop_lat</key>
		<string>65.009464</string>
		<key>stop_lon</key>
		<string>25.524904</string>
		<key>stop_name</key>
		<string>Kastellinhäkki E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>186809</string>
		<key>stop_lat</key>
		<string>65.009749</string>
		<key>stop_lon</key>
		<string>25.52762</string>
		<key>stop_name</key>
		<string>Närhintie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120773</string>
		<key>stop_lat</key>
		<string>65.013021</string>
		<key>stop_lon</key>
		<string>25.5265</string>
		<key>stop_name</key>
		<string>Peltola P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120766</string>
		<key>stop_lat</key>
		<string>65.015525</string>
		<key>stop_lon</key>
		<string>25.52842</string>
		<key>stop_name</key>
		<string>Erkkola P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120745</string>
		<key>stop_lat</key>
		<string>65.019373</string>
		<key>stop_lon</key>
		<string>25.534785</string>
		<key>stop_name</key>
		<string>Metsola P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120757</string>
		<key>stop_lat</key>
		<string>65.017125</string>
		<key>stop_lon</key>
		<string>25.543373</string>
		<key>stop_name</key>
		<string>Kuparilammintie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120742</string>
		<key>stop_lat</key>
		<string>65.01812700000002</string>
		<key>stop_lon</key>
		<string>25.54858</string>
		<key>stop_name</key>
		<string>Koivumaantie E2</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>305705</string>
		<key>stop_lat</key>
		<string>65.015908</string>
		<key>stop_lon</key>
		<string>25.551034</string>
		<key>stop_name</key>
		<string>Kanervatie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120764</string>
		<key>stop_lat</key>
		<string>65.01451</string>
		<key>stop_lon</key>
		<string>25.548459</string>
		<key>stop_name</key>
		<string>Uimaranta E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120781</string>
		<key>stop_lat</key>
		<string>65.012154</string>
		<key>stop_lon</key>
		<string>25.551599</string>
		<key>stop_name</key>
		<string>Hiukkavaarantie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120792</string>
		<key>stop_lat</key>
		<string>65.010525</string>
		<key>stop_lon</key>
		<string>25.555696</string>
		<key>stop_name</key>
		<string>Laita E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120803</string>
		<key>stop_lat</key>
		<string>65.008495</string>
		<key>stop_lon</key>
		<string>25.56098</string>
		<key>stop_name</key>
		<string>Oulujoen koulu E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>148089</string>
		<key>stop_lat</key>
		<string>65.009539</string>
		<key>stop_lon</key>
		<string>25.573501</string>
		<key>stop_name</key>
		<string>Oulujoentie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>169593</string>
		<key>stop_lat</key>
		<string>65.000515</string>
		<key>stop_lon</key>
		<string>25.582039</string>
		<key>stop_name</key>
		<string>Muuraojantie</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120846</string>
		<key>stop_lat</key>
		<string>64.999827</string>
		<key>stop_lon</key>
		<string>25.579574</string>
		<key>stop_name</key>
		<string>Painijantie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120873</string>
		<key>stop_lat</key>
		<string>64.99788100000002</string>
		<key>stop_lon</key>
		<string>25.573042</string>
		<key>stop_name</key>
		<string>Rantasaarela P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120848</string>
		<key>stop_lat</key>
		<string>64.99998600000002</string>
		<key>stop_lon</key>
		<string>25.581198</string>
		<key>stop_name</key>
		<string>Painijantie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>148024</string>
		<key>stop_lat</key>
		<string>65.002361</string>
		<key>stop_lon</key>
		<string>25.584719</string>
		<key>stop_name</key>
		<string>Saarela P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120802</string>
		<key>stop_lat</key>
		<string>65.008625</string>
		<key>stop_lon</key>
		<string>25.560464</string>
		<key>stop_name</key>
		<string>Oulujoen koulu P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120780</string>
		<key>stop_lat</key>
		<string>65.010877</string>
		<key>stop_lon</key>
		<string>25.554998</string>
		<key>stop_name</key>
		<string>Laita P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120779</string>
		<key>stop_lat</key>
		<string>65.01244</string>
		<key>stop_lon</key>
		<string>25.551477</string>
		<key>stop_name</key>
		<string>Hiukkavaarantie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120763</string>
		<key>stop_lat</key>
		<string>65.014564</string>
		<key>stop_lon</key>
		<string>25.548477</string>
		<key>stop_name</key>
		<string>Uimaranta P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120762</string>
		<key>stop_lat</key>
		<string>65.016074</string>
		<key>stop_lon</key>
		<string>25.551577</string>
		<key>stop_name</key>
		<string>Kanervatie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120743</string>
		<key>stop_lat</key>
		<string>65.01821700000002</string>
		<key>stop_lon</key>
		<string>25.547706</string>
		<key>stop_name</key>
		<string>Koivumaantie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120756</string>
		<key>stop_lat</key>
		<string>65.017144</string>
		<key>stop_lon</key>
		<string>25.543478</string>
		<key>stop_name</key>
		<string>Kuparilammintie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120746</string>
		<key>stop_lat</key>
		<string>65.019425</string>
		<key>stop_lon</key>
		<string>25.534591</string>
		<key>stop_name</key>
		<string>Metsola E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120767</string>
		<key>stop_lat</key>
		<string>65.016131</string>
		<key>stop_lon</key>
		<string>25.528959</string>
		<key>stop_name</key>
		<string>Erkkola E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120772</string>
		<key>stop_lat</key>
		<string>65.01301</string>
		<key>stop_lon</key>
		<string>25.526267</string>
		<key>stop_name</key>
		<string>Peltola E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120793</string>
		<key>stop_lat</key>
		<string>65.009602</string>
		<key>stop_lon</key>
		<string>25.525341</string>
		<key>stop_name</key>
		<string>Kastellinhäkki P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>121537</string>
		<key>stop_lat</key>
		<string>65.010991</string>
		<key>stop_lon</key>
		<string>25.518997</string>
		<key>stop_name</key>
		<string>OYS P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120782</string>
		<key>stop_lat</key>
		<string>65.011775</string>
		<key>stop_lon</key>
		<string>25.514818</string>
		<key>stop_name</key>
		<string>Kontinkangas P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120785</string>
		<key>stop_lat</key>
		<string>65.01159800000002</string>
		<key>stop_lon</key>
		<string>25.498855</string>
		<key>stop_name</key>
		<string>Välkkylä E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120786</string>
		<key>stop_lat</key>
		<string>65.011819</string>
		<key>stop_lon</key>
		<string>25.490549</string>
		<key>stop_name</key>
		<string>Raksila P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120796</string>
		<key>stop_lat</key>
		<string>65.009929</string>
		<key>stop_lon</key>
		<string>25.485523</string>
		<key>stop_name</key>
		<string>Linja-autoasema E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120811</string>
		<key>stop_lat</key>
		<string>65.00863</string>
		<key>stop_lon</key>
		<string>25.477749</string>
		<key>stop_name</key>
		<string>Rautasaari P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120799</string>
		<key>stop_lat</key>
		<string>65.010933</string>
		<key>stop_lon</key>
		<string>25.469558</string>
		<key>stop_name</key>
		<string>Rotuaari</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120789</string>
		<key>stop_lat</key>
		<string>65.012624</string>
		<key>stop_lon</key>
		<string>25.468764</string>
		<key>stop_name</key>
		<string>Toripakka P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>307155</string>
		<key>stop_lat</key>
		<string>65.01423322993672</string>
		<key>stop_lon</key>
		<string>25.47117923183765</string>
		<key>stop_name</key>
		<string>Kaupungintalo</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120769</string>
		<key>stop_lat</key>
		<string>65.01615</string>
		<key>stop_lon</key>
		<string>25.471847</string>
		<key>stop_name</key>
		<string>Pokkitörmä</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120755</string>
		<key>stop_lat</key>
		<string>65.020482</string>
		<key>stop_lon</key>
		<string>25.468162</string>
		<key>stop_name</key>
		<string>Raatti P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120737</string>
		<key>stop_lat</key>
		<string>65.02227000000002</string>
		<key>stop_lon</key>
		<string>25.468463</string>
		<key>stop_name</key>
		<string>Toivoniemi P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120712</string>
		<key>stop_lat</key>
		<string>65.024746</string>
		<key>stop_lon</key>
		<string>25.47021</string>
		<key>stop_name</key>
		<string>Merikoskenkatu P2</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>189657</string>
		<key>stop_lat</key>
		<string>65.035249</string>
		<key>stop_lon</key>
		<string>25.468185</string>
		<key>stop_name</key>
		<string>Kemintie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120625</string>
		<key>stop_lat</key>
		<string>65.042441</string>
		<key>stop_lon</key>
		<string>25.476692</string>
		<key>stop_name</key>
		<string>Isko P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120612</string>
		<key>stop_lat</key>
		<string>65.044442</string>
		<key>stop_lon</key>
		<string>25.484733</string>
		<key>stop_name</key>
		<string>Kivennuoli P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120624</string>
		<key>stop_lat</key>
		<string>65.043429</string>
		<key>stop_lon</key>
		<string>25.490991</string>
		<key>stop_name</key>
		<string>Järvikioski E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120630</string>
		<key>stop_lat</key>
		<string>65.041144</string>
		<key>stop_lon</key>
		<string>25.499232</string>
		<key>stop_name</key>
		<string>Järvenkorventie E</string>
	</dict>
</array>
</plist>
