<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>stop_id</key>
		<string>121215</string>
		<key>stop_lat</key>
		<string>64.9290149101413</string>
		<key>stop_lon</key>
		<string>25.37334904258422</string>
		<key>stop_name</key>
		<string>Lentoasema</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>181286</string>
		<key>stop_lat</key>
		<string>64.932217</string>
		<key>stop_lon</key>
		<string>25.383617</string>
		<key>stop_name</key>
		<string>Automaatiotie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>181290</string>
		<key>stop_lat</key>
		<string>64.936948</string>
		<key>stop_lon</key>
		<string>25.377219</string>
		<key>stop_name</key>
		<string>Kisakankaan th P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>121174</string>
		<key>stop_lat</key>
		<string>64.940569</string>
		<key>stop_lon</key>
		<string>25.371182</string>
		<key>stop_name</key>
		<string>Teeritie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>181287</string>
		<key>stop_lat</key>
		<string>64.94224</string>
		<key>stop_lon</key>
		<string>25.372985</string>
		<key>stop_name</key>
		<string>Kuovintie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>121154</string>
		<key>stop_lat</key>
		<string>64.94485</string>
		<key>stop_lon</key>
		<string>25.378579</string>
		<key>stop_name</key>
		<string>Salavakuja E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>121163</string>
		<key>stop_lat</key>
		<string>64.943652</string>
		<key>stop_lon</key>
		<string>25.382378</string>
		<key>stop_name</key>
		<string>Pitkämäki E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>121167</string>
		<key>stop_lat</key>
		<string>64.942238</string>
		<key>stop_lon</key>
		<string>25.390228</string>
		<key>stop_name</key>
		<string>Raitakuja E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>150157</string>
		<key>stop_lat</key>
		<string>64.94142</string>
		<key>stop_lon</key>
		<string>25.39673</string>
		<key>stop_name</key>
		<string>Pitkäkankaantie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>150155</string>
		<key>stop_lat</key>
		<string>64.938552</string>
		<key>stop_lon</key>
		<string>25.397853</string>
		<key>stop_name</key>
		<string>Oulunsalo ry E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>190220</string>
		<key>stop_lat</key>
		<string>64.934823</string>
		<key>stop_lon</key>
		<string>25.398985</string>
		<key>stop_name</key>
		<string>Oulunsalo-talo E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>121195</string>
		<key>stop_lat</key>
		<string>64.933497</string>
		<key>stop_lon</key>
		<string>25.401624</string>
		<key>stop_name</key>
		<string>Riisikuja P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>121193</string>
		<key>stop_lat</key>
		<string>64.934219</string>
		<key>stop_lon</key>
		<string>25.408687</string>
		<key>stop_name</key>
		<string>Oulunsalo P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>101051</string>
		<key>stop_lat</key>
		<string>64.936484</string>
		<key>stop_lon</key>
		<string>25.417585</string>
		<key>stop_name</key>
		<string>Oulunsalon museo P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>190170</string>
		<key>stop_lat</key>
		<string>64.93845</string>
		<key>stop_lon</key>
		<string>25.428723</string>
		<key>stop_name</key>
		<string>Hailuodon th P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>101048</string>
		<key>stop_lat</key>
		<string>64.942598</string>
		<key>stop_lon</key>
		<string>25.453022</string>
		<key>stop_name</key>
		<string>Vihiluoto P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>101046</string>
		<key>stop_lat</key>
		<string>64.947661</string>
		<key>stop_lon</key>
		<string>25.482144</string>
		<key>stop_name</key>
		<string>Kempeleenlahti P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>171795</string>
		<key>stop_lat</key>
		<string>64.956307</string>
		<key>stop_lon</key>
		<string>25.505023</string>
		<key>stop_name</key>
		<string>Lentokentän th P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>190194</string>
		<key>stop_lat</key>
		<string>64.961023</string>
		<key>stop_lon</key>
		<string>25.502918</string>
		<key>stop_name</key>
		<string>Oulunlahti P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>171799</string>
		<key>stop_lat</key>
		<string>64.968469</string>
		<key>stop_lon</key>
		<string>25.494857</string>
		<key>stop_name</key>
		<string>Oulunlahden koulu P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>171801</string>
		<key>stop_lat</key>
		<string>64.971585</string>
		<key>stop_lon</key>
		<string>25.490763</string>
		<key>stop_name</key>
		<string>Vesalantie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>171803</string>
		<key>stop_lat</key>
		<string>64.974764</string>
		<key>stop_lon</key>
		<string>25.488381</string>
		<key>stop_name</key>
		<string>Kaakkurin th P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>171805</string>
		<key>stop_lat</key>
		<string>64.978668</string>
		<key>stop_lon</key>
		<string>25.485936</string>
		<key>stop_name</key>
		<string>Karhunkedontie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>171807</string>
		<key>stop_lat</key>
		<string>64.981077</string>
		<key>stop_lon</key>
		<string>25.483702</string>
		<key>stop_name</key>
		<string>Joulumerkinpolku P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>171808</string>
		<key>stop_lat</key>
		<string>64.98544800000002</string>
		<key>stop_lon</key>
		<string>25.475974</string>
		<key>stop_name</key>
		<string>Äimärautio P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120916</string>
		<key>stop_lat</key>
		<string>64.99271400000002</string>
		<key>stop_lon</key>
		<string>25.465344</string>
		<key>stop_name</key>
		<string>Kallisensuora P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120894</string>
		<key>stop_lat</key>
		<string>64.99718300000002</string>
		<key>stop_lon</key>
		<string>25.464621</string>
		<key>stop_name</key>
		<string>Limingantulli P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>101567</string>
		<key>stop_lat</key>
		<string>65.000085</string>
		<key>stop_lon</key>
		<string>25.464157</string>
		<key>stop_name</key>
		<string>Kempeleentie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120836</string>
		<key>stop_lat</key>
		<string>65.004711</string>
		<key>stop_lon</key>
		<string>25.460414</string>
		<key>stop_name</key>
		<string>Kyösti Kallion puisto P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120826</string>
		<key>stop_lat</key>
		<string>65.007792</string>
		<key>stop_lon</key>
		<string>25.461636</string>
		<key>stop_name</key>
		<string>Heinätorin puisto P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120797</string>
		<key>stop_lat</key>
		<string>65.01122700000002</string>
		<key>stop_lon</key>
		<string>25.466784</string>
		<key>stop_name</key>
		<string>Elokuvakeskus</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120789</string>
		<key>stop_lat</key>
		<string>65.012624</string>
		<key>stop_lon</key>
		<string>25.468764</string>
		<key>stop_name</key>
		<string>Toripakka P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>307155</string>
		<key>stop_lat</key>
		<string>65.01423322993672</string>
		<key>stop_lon</key>
		<string>25.47117923183765</string>
		<key>stop_name</key>
		<string>Kaupungintalo</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>25888</string>
		<key>stop_lat</key>
		<string>65.01501500000002</string>
		<key>stop_lon</key>
		<string>25.473143</string>
		<key>stop_name</key>
		<string>Franzen</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120775</string>
		<key>stop_lat</key>
		<string>65.013311</string>
		<key>stop_lon</key>
		<string>25.479328</string>
		<key>stop_name</key>
		<string>Lävistäjä E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120788</string>
		<key>stop_lat</key>
		<string>65.01216100000002</string>
		<key>stop_lon</key>
		<string>25.48353</string>
		<key>stop_name</key>
		<string>Rautatieasema E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120787</string>
		<key>stop_lat</key>
		<string>65.011776</string>
		<key>stop_lon</key>
		<string>25.489873</string>
		<key>stop_name</key>
		<string>Raksila E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120784</string>
		<key>stop_lat</key>
		<string>65.011392</string>
		<key>stop_lon</key>
		<string>25.498888</string>
		<key>stop_name</key>
		<string>Välkkylä P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120783</string>
		<key>stop_lat</key>
		<string>65.011652</string>
		<key>stop_lon</key>
		<string>25.514167</string>
		<key>stop_name</key>
		<string>Kontinkangas E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120795</string>
		<key>stop_lat</key>
		<string>65.0108</string>
		<key>stop_lon</key>
		<string>25.518753</string>
		<key>stop_name</key>
		<string>OYS E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120794</string>
		<key>stop_lat</key>
		<string>65.009464</string>
		<key>stop_lon</key>
		<string>25.524904</string>
		<key>stop_name</key>
		<string>Kastellinhäkki E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>186809</string>
		<key>stop_lat</key>
		<string>65.009749</string>
		<key>stop_lon</key>
		<string>25.52762</string>
		<key>stop_name</key>
		<string>Närhintie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120773</string>
		<key>stop_lat</key>
		<string>65.013021</string>
		<key>stop_lon</key>
		<string>25.5265</string>
		<key>stop_name</key>
		<string>Peltola P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120766</string>
		<key>stop_lat</key>
		<string>65.015525</string>
		<key>stop_lon</key>
		<string>25.52842</string>
		<key>stop_name</key>
		<string>Erkkola P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120745</string>
		<key>stop_lat</key>
		<string>65.019373</string>
		<key>stop_lon</key>
		<string>25.534785</string>
		<key>stop_name</key>
		<string>Metsola P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120719</string>
		<key>stop_lat</key>
		<string>65.022832</string>
		<key>stop_lon</key>
		<string>25.54164</string>
		<key>stop_name</key>
		<string>Parkkisenkangas P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120689</string>
		<key>stop_lat</key>
		<string>65.02613</string>
		<key>stop_lon</key>
		<string>25.546851</string>
		<key>stop_name</key>
		<string>Karttatie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120678</string>
		<key>stop_lat</key>
		<string>65.029346</string>
		<key>stop_lon</key>
		<string>25.551006</string>
		<key>stop_name</key>
		<string>Manttaalitie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120665</string>
		<key>stop_lat</key>
		<string>65.031194</string>
		<key>stop_lon</key>
		<string>25.554748</string>
		<key>stop_name</key>
		<string>Tokkatie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120659</string>
		<key>stop_lat</key>
		<string>65.03371300000002</string>
		<key>stop_lon</key>
		<string>25.563846</string>
		<key>stop_name</key>
		<string>Huonesuonpuisto P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120641</string>
		<key>stop_lat</key>
		<string>65.036743</string>
		<key>stop_lon</key>
		<string>25.573916</string>
		<key>stop_name</key>
		<string>Tupasvillatie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120628</string>
		<key>stop_lat</key>
		<string>65.03962900000002</string>
		<key>stop_lon</key>
		<string>25.578369</string>
		<key>stop_name</key>
		<string>Leväsuontie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120621</string>
		<key>stop_lat</key>
		<string>65.042489</string>
		<key>stop_lon</key>
		<string>25.581891</string>
		<key>stop_name</key>
		<string>Rannanperä P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120606</string>
		<key>stop_lat</key>
		<string>65.044352</string>
		<key>stop_lon</key>
		<string>25.588311</string>
		<key>stop_name</key>
		<string>Tuiskutie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120605</string>
		<key>stop_lat</key>
		<string>65.042365</string>
		<key>stop_lon</key>
		<string>25.595424</string>
		<key>stop_name</key>
		<string>Nietospolku E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120618</string>
		<key>stop_lat</key>
		<string>65.041849</string>
		<key>stop_lon</key>
		<string>25.602607</string>
		<key>stop_name</key>
		<string>Huurrekuja P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>169845</string>
		<key>stop_lat</key>
		<string>65.041026</string>
		<key>stop_lon</key>
		<string>25.612461</string>
		<key>stop_name</key>
		<string>Pikku Karhu E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>169846</string>
		<key>stop_lat</key>
		<string>65.043128</string>
		<key>stop_lon</key>
		<string>25.61662</string>
		<key>stop_name</key>
		<string>Tähtipolku P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120601</string>
		<key>stop_lat</key>
		<string>65.046281</string>
		<key>stop_lon</key>
		<string>25.612251</string>
		<key>stop_name</key>
		<string>Kornetintie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120577</string>
		<key>stop_lat</key>
		<string>65.05046</string>
		<key>stop_lon</key>
		<string>25.605364</string>
		<key>stop_name</key>
		<string>Välskärintie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120578</string>
		<key>stop_lat</key>
		<string>65.05151600000002</string>
		<key>stop_lon</key>
		<string>25.602229</string>
		<key>stop_name</key>
		<string>Ruotutie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120565</string>
		<key>stop_lat</key>
		<string>65.054834</string>
		<key>stop_lon</key>
		<string>25.596319</string>
		<key>stop_name</key>
		<string>Johdinkuja P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120564</string>
		<key>stop_lat</key>
		<string>65.054118</string>
		<key>stop_lon</key>
		<string>25.597418</string>
		<key>stop_name</key>
		<string>Johdinkuja E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120575</string>
		<key>stop_lat</key>
		<string>65.051399</string>
		<key>stop_lon</key>
		<string>25.602171</string>
		<key>stop_name</key>
		<string>Ruotutie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120576</string>
		<key>stop_lat</key>
		<string>65.050091</string>
		<key>stop_lon</key>
		<string>25.607125</string>
		<key>stop_name</key>
		<string>Välskärintie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120591</string>
		<key>stop_lat</key>
		<string>65.045917</string>
		<key>stop_lon</key>
		<string>25.611675</string>
		<key>stop_name</key>
		<string>Kornetintie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>169847</string>
		<key>stop_lat</key>
		<string>65.042889</string>
		<key>stop_lon</key>
		<string>25.615995</string>
		<key>stop_name</key>
		<string>Tähtipolku E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>169844</string>
		<key>stop_lat</key>
		<string>65.041136</string>
		<key>stop_lon</key>
		<string>25.61271</string>
		<key>stop_name</key>
		<string>Pikku Karhu P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120617</string>
		<key>stop_lat</key>
		<string>65.04182900000002</string>
		<key>stop_lon</key>
		<string>25.601419</string>
		<key>stop_name</key>
		<string>Huurrekuja E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120619</string>
		<key>stop_lat</key>
		<string>65.042673</string>
		<key>stop_lon</key>
		<string>25.594835</string>
		<key>stop_name</key>
		<string>Nietospolku P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120607</string>
		<key>stop_lat</key>
		<string>65.044353</string>
		<key>stop_lon</key>
		<string>25.586443</string>
		<key>stop_name</key>
		<string>Tuiskutie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120620</string>
		<key>stop_lat</key>
		<string>65.042541</string>
		<key>stop_lon</key>
		<string>25.581697</string>
		<key>stop_name</key>
		<string>Rannanperä E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120633</string>
		<key>stop_lat</key>
		<string>65.039055</string>
		<key>stop_lon</key>
		<string>25.577381</string>
		<key>stop_name</key>
		<string>Leväsuontie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120642</string>
		<key>stop_lat</key>
		<string>65.036388</string>
		<key>stop_lon</key>
		<string>25.572385</string>
		<key>stop_name</key>
		<string>Tupasvillatie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120658</string>
		<key>stop_lat</key>
		<string>65.03342000000002</string>
		<key>stop_lon</key>
		<string>25.562312</string>
		<key>stop_name</key>
		<string>Huonesuonpuisto E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120666</string>
		<key>stop_lat</key>
		<string>65.030683</string>
		<key>stop_lon</key>
		<string>25.552929</string>
		<key>stop_name</key>
		<string>Tokkatie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120681</string>
		<key>stop_lat</key>
		<string>65.028399</string>
		<key>stop_lon</key>
		<string>25.549529</string>
		<key>stop_name</key>
		<string>Manttaalitie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120688</string>
		<key>stop_lat</key>
		<string>65.025617</string>
		<key>stop_lon</key>
		<string>25.545754</string>
		<key>stop_name</key>
		<string>Karttatie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120720</string>
		<key>stop_lat</key>
		<string>65.022865</string>
		<key>stop_lon</key>
		<string>25.541384</string>
		<key>stop_name</key>
		<string>Parkkisenkangas E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120746</string>
		<key>stop_lat</key>
		<string>65.019425</string>
		<key>stop_lon</key>
		<string>25.534591</string>
		<key>stop_name</key>
		<string>Metsola E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120767</string>
		<key>stop_lat</key>
		<string>65.016131</string>
		<key>stop_lon</key>
		<string>25.528959</string>
		<key>stop_name</key>
		<string>Erkkola E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120772</string>
		<key>stop_lat</key>
		<string>65.01301</string>
		<key>stop_lon</key>
		<string>25.526267</string>
		<key>stop_name</key>
		<string>Peltola E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120793</string>
		<key>stop_lat</key>
		<string>65.009602</string>
		<key>stop_lon</key>
		<string>25.525341</string>
		<key>stop_name</key>
		<string>Kastellinhäkki P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>121537</string>
		<key>stop_lat</key>
		<string>65.010991</string>
		<key>stop_lon</key>
		<string>25.518997</string>
		<key>stop_name</key>
		<string>OYS P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120782</string>
		<key>stop_lat</key>
		<string>65.011775</string>
		<key>stop_lon</key>
		<string>25.514818</string>
		<key>stop_name</key>
		<string>Kontinkangas P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120785</string>
		<key>stop_lat</key>
		<string>65.01159800000002</string>
		<key>stop_lon</key>
		<string>25.498855</string>
		<key>stop_name</key>
		<string>Välkkylä E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120786</string>
		<key>stop_lat</key>
		<string>65.011819</string>
		<key>stop_lon</key>
		<string>25.490549</string>
		<key>stop_name</key>
		<string>Raksila P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120774</string>
		<key>stop_lat</key>
		<string>65.013611</string>
		<key>stop_lon</key>
		<string>25.484105</string>
		<key>stop_name</key>
		<string>Heikinkatu P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120776</string>
		<key>stop_lat</key>
		<string>65.015044</string>
		<key>stop_lon</key>
		<string>25.475984</string>
		<key>stop_name</key>
		<string>Kuvernööri</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120769</string>
		<key>stop_lat</key>
		<string>65.01615</string>
		<key>stop_lon</key>
		<string>25.471847</string>
		<key>stop_name</key>
		<string>Pokkitörmä</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120777</string>
		<key>stop_lat</key>
		<string>65.01328336243668</string>
		<key>stop_lon</key>
		<string>25.46963132336373</string>
		<key>stop_name</key>
		<string>Toripakka E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>184041</string>
		<key>stop_lat</key>
		<string>65.010214</string>
		<key>stop_lon</key>
		<string>25.465102</string>
		<key>stop_name</key>
		<string>Virastotalo</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120814</string>
		<key>stop_lat</key>
		<string>65.008009</string>
		<key>stop_lon</key>
		<string>25.461836</string>
		<key>stop_name</key>
		<string>Heinätorin puisto E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120837</string>
		<key>stop_lat</key>
		<string>65.005695</string>
		<key>stop_lon</key>
		<string>25.458342</string>
		<key>stop_name</key>
		<string>Kyösti Kallion puisto E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>116064</string>
		<key>stop_lat</key>
		<string>65.00335</string>
		<key>stop_lon</key>
		<string>25.463291</string>
		<key>stop_name</key>
		<string>Harjapuisto E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>101568</string>
		<key>stop_lat</key>
		<string>65.000035</string>
		<key>stop_lon</key>
		<string>25.463651</string>
		<key>stop_name</key>
		<string>Kempeleentie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120895</string>
		<key>stop_lat</key>
		<string>64.995879</string>
		<key>stop_lon</key>
		<string>25.464314</string>
		<key>stop_name</key>
		<string>Limingantulli E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>120917</string>
		<key>stop_lat</key>
		<string>64.992843</string>
		<key>stop_lon</key>
		<string>25.464806</string>
		<key>stop_name</key>
		<string>Kallisensuora E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>184453</string>
		<key>stop_lat</key>
		<string>64.985259</string>
		<key>stop_lon</key>
		<string>25.475921</string>
		<key>stop_name</key>
		<string>Äimärautio E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>171806</string>
		<key>stop_lat</key>
		<string>64.98041000000002</string>
		<key>stop_lon</key>
		<string>25.48427</string>
		<key>stop_name</key>
		<string>Joulumerkinpolku E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>171804</string>
		<key>stop_lat</key>
		<string>64.977899</string>
		<key>stop_lon</key>
		<string>25.486149</string>
		<key>stop_name</key>
		<string>Karhunkedontie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>171802</string>
		<key>stop_lat</key>
		<string>64.973869</string>
		<key>stop_lon</key>
		<string>25.488601</string>
		<key>stop_name</key>
		<string>Kaakkurin th E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>171800</string>
		<key>stop_lat</key>
		<string>64.970997</string>
		<key>stop_lon</key>
		<string>25.491178</string>
		<key>stop_name</key>
		<string>Vesalantie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>171798</string>
		<key>stop_lat</key>
		<string>64.96826900000002</string>
		<key>stop_lon</key>
		<string>25.494677</string>
		<key>stop_name</key>
		<string>Oulunlahden koulu E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>171797</string>
		<key>stop_lat</key>
		<string>64.960956</string>
		<key>stop_lon</key>
		<string>25.50254</string>
		<key>stop_name</key>
		<string>Oulunlahti E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>190168</string>
		<key>stop_lat</key>
		<string>64.955232</string>
		<key>stop_lon</key>
		<string>25.503347</string>
		<key>stop_name</key>
		<string>Lentokentän th E2</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>101047</string>
		<key>stop_lat</key>
		<string>64.947463</string>
		<key>stop_lon</key>
		<string>25.480356</string>
		<key>stop_name</key>
		<string>Kempeleenlahti E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>101049</string>
		<key>stop_lat</key>
		<string>64.942246</string>
		<key>stop_lon</key>
		<string>25.45025</string>
		<key>stop_name</key>
		<string>Vihiluoto E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>190171</string>
		<key>stop_lat</key>
		<string>64.938554</string>
		<key>stop_lon</key>
		<string>25.428336</string>
		<key>stop_name</key>
		<string>Hailuodon th E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>101052</string>
		<key>stop_lat</key>
		<string>64.936322</string>
		<key>stop_lon</key>
		<string>25.415818</string>
		<key>stop_name</key>
		<string>Oulunsalon museo E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>121194</string>
		<key>stop_lat</key>
		<string>64.934566</string>
		<key>stop_lon</key>
		<string>25.41019</string>
		<key>stop_name</key>
		<string>Oulunsalo E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>121199</string>
		<key>stop_lat</key>
		<string>64.933628</string>
		<key>stop_lon</key>
		<string>25.402102</string>
		<key>stop_name</key>
		<string>Riisikuja E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>190221</string>
		<key>stop_lat</key>
		<string>64.936602</string>
		<key>stop_lon</key>
		<string>25.398329</string>
		<key>stop_name</key>
		<string>Oulunsalo-talo P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>150156</string>
		<key>stop_lat</key>
		<string>64.939547</string>
		<key>stop_lon</key>
		<string>25.39773</string>
		<key>stop_name</key>
		<string>Oulunsalo ry P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>121166</string>
		<key>stop_lat</key>
		<string>64.941971</string>
		<key>stop_lon</key>
		<string>25.395364</string>
		<key>stop_name</key>
		<string>Pitkäkankaantie P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>121162</string>
		<key>stop_lat</key>
		<string>64.942536</string>
		<key>stop_lon</key>
		<string>25.389575</string>
		<key>stop_name</key>
		<string>Raitakuja P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>307138</string>
		<key>stop_lat</key>
		<string>64.94355055893558</string>
		<key>stop_lon</key>
		<string>25.38474039882766</string>
		<key>stop_name</key>
		<string>Pitkämäki P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>121152</string>
		<key>stop_lat</key>
		<string>64.94460100000002</string>
		<key>stop_lon</key>
		<string>25.379718</string>
		<key>stop_name</key>
		<string>Salavakuja P</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>169875</string>
		<key>stop_lat</key>
		<string>64.944856</string>
		<key>stop_lon</key>
		<string>25.376804</string>
		<key>stop_name</key>
		<string>Runkotie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>181288</string>
		<key>stop_lat</key>
		<string>64.942219</string>
		<key>stop_lon</key>
		<string>25.372732</string>
		<key>stop_name</key>
		<string>Kuovintie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>169654</string>
		<key>stop_lat</key>
		<string>64.941136</string>
		<key>stop_lon</key>
		<string>25.371296</string>
		<key>stop_name</key>
		<string>Teeritie E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>181289</string>
		<key>stop_lat</key>
		<string>64.936945</string>
		<key>stop_lon</key>
		<string>25.376944</string>
		<key>stop_name</key>
		<string>Kisakankaan th E</string>
	</dict>
	<dict>
		<key>stop_id</key>
		<string>181285</string>
		<key>stop_lat</key>
		<string>64.932223</string>
		<key>stop_lon</key>
		<string>25.383321</string>
		<key>stop_name</key>
		<string>Automaatiotie E</string>
	</dict>
</array>
</plist>
